@import '~bootstrap/scss/bootstrap';

.survey-backdrop {
	background-repeat: no-repeat;
	background-image: url("/conduct/images/capitol-aerial-1080-80.jpg");
}

/* Mobile rules */
@media (max-width: 575.98px) {
	.survey-backdrop {
		background-repeat: no-repeat;
		background-image: url("/conduct/images/capitol-aerial-1080-70.jpg");
		background-attachment: fixed;		
		background-position: 8% 0%;
	}
}

@media (max-height: 812px) { /* for Iphone X */
	.survey-backdrop {
		background-repeat: no-repeat;
		background-image: url("/conduct/images/capitol-aerial-1080-80.jpg");
		background-attachment: fixed;		
		background-position: 8% 0%;
	}
}

@media (max-height: 823px) { /* for Iphone X */
	.survey-backdrop {
		background-repeat: no-repeat;
		background-image: url("/conduct/images/capitol-aerial-1080-80.jpg");
		background-attachment: fixed;		
		background-position: 8% 0%;
	}
}

.nmp {
	margin: 0px!important;
	padding: 0px!important;
}

.hred {
	border: 1px solid red;
}

.full-height {
	height: 100%;
}

.ccenter {
	text-align: center;
}